.heading a {
    color: rgb(38, 56, 66);
    font-size: 1.25rem;
}

.list-item {
    margin-bottom: 12px;
}

.wrapper {
    margin: 8em;
}

.search-items {
    padding: 0;
    list-style: none;
    line-height: 1.5;
    border: 1px solid #F3F3F3;
    border-radius: 8px;
    padding: 1.5em;
}

.url {
    margin-top: 4px;
    margin-bottom: 4px;
}

.url a{
    font-size: 1rem;
}