<div class="sidenav-content" (click)="checkSidebar()">
  <mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="screenWidth < minWidth ? 'over':'side'" [opened]="screenWidth > minWidth" class="sidebar-tutorial" [fixedInViewport]="true" [fixedTopGap]="100">
      <div class="items" *ngFor="let tutorial of tutorialList">
        <li class="no-list-style">
          <a class ="active-trail active-trail active" [ngClass]="{'selected': selectedTutorial === tutorial.name.substring(0, tutorial.name.length - 3), 'not-selected': selectedTutorial != tutorial.name.substring(0, tutorial.name.length - 3)}"
              [routerLink]="['/tutorials/', tutorial.name.substring(0, tutorial.name.length - 3)]">
            {{ tutorial.displayName }}
          </a>
        </li>
      </div>

    </mat-sidenav>
    <mat-sidenav-content class="matContent">
      <div #grippy [style.background-image]="getImageUrl()" class="grippy" (click)="toggleMenu()"></div>

      <div class="content-wrapper">
        <div class="content">
            <markdown [data]="currentTutorialText"></markdown>
        </div>
      </div>
      <div *ngIf="currentTutorialText">
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<!-- <div class="toc">
  <toc [items]="tocContent"></toc>
</div> -->