<div class="sidenav-content">
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened class="sidebar-tutorial" [fixedInViewport]="true" [fixedTopGap]="100">
      <div *ngFor="let tutorial of tutorialList">
        <div [ngClass]="{'selected': selectedTutorial === tutorial.name,
                  'not-selected': selectedTutorial != tutorial.name}" (click)="updateCurrentTutorial(tutorial)">
          {{ tutorial.displayName }}
        </div>
      </div>

    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content-wrapper"> 
        <div class="content">
            <markdown [data]="currentTutorialText"></markdown>
        </div>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
<!-- <div class="toc">
  <toc [items]="tocContent"></toc>
</div> -->