.sidebar-tutorial {
    width: 20rem;
    padding-top: 10px;
    background: #fff;
}

.item {
    color: rgb(165, 165, 165);
    font-family: HelveticaNeueLT-Bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

.sidebar-tutorial .items li a{
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    padding:1.10em 20px;
}

.no-list-style {
    list-style: none;
}

li a.focus, li a.hover {
    background-color:#363636;
    border-color:#363636;
    text-decoration:underline;
}

.grippy {
    position: fixed;
    left: 20rem;
    width: 11px;
    height: 100%;
    background-repeat: no-repeat;
    border-left: 1px solid #ccc;
    background-position-y: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    z-index: 5;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: #FAFAFA;
}

.selected, .not-selected {
    color: rgb(97, 97, 97);
    background-color: #fff;
    border-left: 7px #fff solid;
}

.not-selected:hover {
    background-color: #f3f3f3;
    text-decoration: underline;
}

.selected {
    color: #363636;
    border-left: 7px solid #2A7BBA;
    font-weight: bold;
    text-decoration: underline;
    background-color: #f3f3f3;

}

.matContent{
    min-height: calc(100vh - 6rem);
    display:flex;
    flex-direction: column;
}


.content-wrapper {
    margin: 0 1rem;
    background-color: white;
    flex: 1 0 auto;
}

.content {
    border-style: outset;
    border-width: 1px;
    border-radius: 8px 8px;
    padding: 2em;
    font-size: 1em;
    max-width: 100%;
    margin: 25px auto;
    background-color: #FAFAFA;
}

mat-sidenav-content {
    background-color: white;
}

markdown ::ng-deep h1 {
    font-size: 2.25em;
}

markdown ::ng-deep h2{
    margin-top: 20px;
    font-size: 2em;
}

markdown ::ng-deep h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

markdown ::ng-deep h4 {
    font-size: 1.25em;
}

markdown ::ng-deep h1, markdown ::ng-deep h2, markdown ::ng-deep h3, markdown ::ng-deep h4 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 40px;
    font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
}

markdown ::ng-deep table, markdown ::ng-deep th, markdown ::ng-deep td {
  border: 1px solid black;
  padding: 3px;
}

markdown ::ng-deep img {
    max-width: 100%;
}

/*markdown ::ng-deep pre{
    background: #F1F3F4;
    color: #363636;
}

markdown ::ng-deep code, markdown ::ng-deep span.punctuation, markdown ::ng-deep span.operator {
    color : #363636
}

markdown ::ng-deep span.comment {
    color: brown
}

markdown ::ng-deep span.keyword {
    color: rgb(39, 129, 114)
}

markdown ::ng-deep span.string {
    color: #E11144;

}*/

.toc {
    width: 15%;
    float: right;
    height:100vh;
    position: fixed;
    right: 0;
}

#anchor{
    position: relative;
    padding-top: 100px;
}

