.sidebar-tutorial {
    width: 20rem;
}

.selected, .not-selected {
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
    font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
}

.not-selected:hover {
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    background: #F1F3F4;
}

.selected {
    background: #E8F0FE;
    border-radius: 10px;
    color: rgb(25, 103, 210);
    font-weight: bold;
}

.content {
    border-style: solid;
    border-width: 5px;
}