<div mat-dialog-content>
  <div>
    host: {{location_data.host}} <br>
    hostname: {{location_data.hostname}} <br>
    origin: {{location_data.origin}} <br>
  </div>
  <div class="container">
    <div *ngFor="let result of searchData.items" class="row">
      <div class="col domain">
        <a [href]="result.link"> {{result.title}}</a>
        <div [innerHTML]="result.htmlSnippet"></div>        
      </div>
      <div class="col">
        <a [href]="result.link"> {{result.title}}</a>
        <div [innerHTML]="result.htmlSnippet"></div>
      </div>
    </div>
  </div>

</div>


<!-- <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-sm">
            1235464564444444444444444444444444444444444444444444444444444444444444444
        </div>
        <div class="col-sm">
          123
        </div>
      </div>
    </div>
  
  </div> -->