<div class="footer">
    <div class="content">
        <ul class="footer-list">
            <li class="footer-list-box">
                <h3 class="footer-heading">Stay Connected</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="footer-list-item-text" href="https://github.com/fastestimator/fastestimator" target="_blank">GitHub</a></li>
                </ul>
            </li>
            <li class="footer-list-box">
                <h3 class="footer-heading">Support</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="footer-list-item-text" href="https://github.com/fastestimator/fastestimator/issues" target="_blank">Issue Tracker</a></li>
                </ul>
            </li>
        </ul>

        <div class="credit">
          FastEstimator, <a target="_blank" href="/icons/set/cup">Cup</a>, 
          <a target="_blank" href="/icons/set/biotech">Biotech icon</a>, 
          <a target="_blank" href="/icons/set/box">Box icon</a>,
          <a target="_blank" href="/icons/set/light-on">Light On icon</a>,
          <a target="_blank" href="/icons/set/atom-editor">Atom Editor</a> and other icons by 
          <a target="_blank" href="https://icons8.com">Icons8</a> <br>
          Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>,   
          <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a>,
          <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26</a>,
          <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>,
          from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> 
        </div>
      </div>
</div>
