<div class="footer">
    <div class="content">
        <ul class="footer-list">
            <li class="footer-list-box">
                <h3 class="footer-heading">Stay Connected</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="footer-list-item-text" href="https://github.com/fastestimator/fastestimator" target="_blank">GitHub</a></li>
                </ul>
            </li>
            <li class="footer-list-box">
                <h3 class="footer-heading">Support</h3>
                <ul class="footer-list">
                    <li class="footer-list-item"><a class="footer-list-item-text" href="https://github.com/fastestimator/fastestimator/issues" target="_blank">Issue Tracker</a></li>
                </ul>
            </li>
        </ul>

        <p>Icon used from somewhere</p>
    </div>
</div>
