.head-container{
    overflow:hidden;
    background-color: #ffffff;
    border-bottom: 3px solid darkorange;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 6rem; */
    min-height: 6rem;
}

/*input[type='text']:focus {
  width: 400px;
  transition: all 300ms ease;
}*/

input {
    margin-right: 16px;
}

nav div ul li a{
    color: rgb(38, 56, 66);
    background-color: inherit;
    padding: 2em 2em;
    /* outline: none; */
}
.tab {
    top:5%;
}

.selected-title, nav div ul li a:hover{
    color:#555557;
    font-weight:bold;
}

#navbarsDefault{
    min-height: 3rem;
}

.navbar {
    padding: 0;
}

.navbar-brand {
    outline: none;
}

.logo {
    width:256px;
    height:64px;
}

.nav-item{
    position: relative;
}


.rise-block{
    background: darkorange;
    height: 0%;
    width: 100%;
    border-radius: 5px;
    position:absolute;
    top:110%;
    left:0%;
    transform: translate(0, -100%);
    z-index:-100;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.nav-item:hover .rise-block{
    height: 110%;
}
