<mat-progress-bar class="mat-progress-bar-buffer highest" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<nav class="navbar navbar-light fixed-top head-container">
  <a #logoDOM class="navbar-brand" routerLink="/"><img class="logo" src="assets/images/logo2.png"
      [hidden]="isSearchExpanded"></a>
  <div style="display:flex; flex-flow: row nowrap; width:100%; height: 100%;">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let tab of tabList" class="nav-item">
        <a #tabDOM (click)="preRoute(tab.preRoute)" [ngClass]="{'selected-title': selected===tab.preRoute}"
          class="nav-item nav-link active" [routerLink]="tab.routerLink" [hidden]="tab.hidden || isSearchExpanded ">
          {{tab.name}}</a>
        <div class="rise-block"> </div>
      </li>
      <button #moreDOM mat-button [matMenuTriggerFor]="menu" style="outline:none; font-size:1rem; font-weight:400"
        [hidden]="isMoreHidden || isSearchExpanded">
        More
        <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color">
          arrow_drop_down
        </mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let tab of tabList" mat-menu-item [routerLink]="tab.routerLink" [hidden]="!tab.hidden"
          (click)="preRoute(tab.preRoute)" style="outline:none"> {{tab.name}}</button>
        <button mat-menu-item [hidden]="!(isSearchIconHidden && isSearchHidden)" (click)="expandSearch()"
          style="outline:none"> Search</button>
      </mat-menu>

      <button (click)="closeSearch()" style="background-color: transparent; border:none; outline:none; padding-top:10px"
        [hidden]="!isSearchExpanded">
        <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
          style="font-size: 2rem; width:inherit; height:inherit">
          arrow_forward_ios
        </mat-icon>
      </button>
    </ul>

    <div #versionDOM class="nav-item version-div" ngbDropdown display="dynamic">
      <a class="nav-link version-select" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
          <div style="margin: 0 25px 0 10px">
            {{defaultVersion}}
          </div>

          <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color version-arrow">
            arrow_drop_down
          </mat-icon>
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
        <a ngbDropdownItem *ngFor="let version of versionList" (click)="setVersion(version.name)">{{version.name}}</a>
      </div>
    </div>

    <!-- <div #versionDOM class="nav-item version-div" ngbDropdown display="dynamic">
      <a class="nav-link version-select" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
        <div>
          {{defaultVersion}}
        </div>

        <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color version-arrow">
          arrow_drop_down
        </mat-icon>
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
        <a ngbDropdownItem *ngFor="let version of versionList" (click)="setVersion(version.name)">{{version.name}}</a>
      </div>
    </div> -->
    <!-- <select #versionDOM matNativeControl required class="version-select"
      (change)="versionChanged($event)" [(ngModel)]="defaultVersion">
      <option *ngFor="let version of versionList" class="version-option"> {{version.name}}</option>
    </select> -->

    <button #searchIconDOM (click)="expandSearch()" [hidden]="isSearchIconHidden || isSearchExpanded"
      style="background-color: transparent; border:none; outline:none; padding: 3px 20px 0 20px">
      <mat-icon aria-hidden="true" role="img" class="mat-icon notranslate material-icons mat-icon-no-color"
        style="font-size: 2rem; width:inherit; height:inherit">
        search
      </mat-icon>
    </button>
    <form #searchDOM class="form-inline .hidden-xs-down" style="width:100%; max-width: 500px;"
      [hidden]="isSearchHidden && !isSearchExpanded">
      <app-search style="width:100%"></app-search>
    </form>
  </div>
</nav>
