<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top head-container">
    <a class="navbar-brand" routerLink="/"><img class="logo" src="assets/images/logo.png"></a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span></button>

    <!-- Collapsible content -->
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">

    <!--<form class="form-inline mr-auto">
      <input [(ngModel)]="searchContent" [ngModelOptions]="{standalone: true}" class="form-control navbar-toggler" type="text" placeholder="Search" aria-label="Search">
       <button (click)="onClick2(searchContent)" class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button>
    </form>-->

    <!--<div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">-->
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item tab">
          <a (click)="preRoute('install')" [ngClass]="{'selected-title': selected==='install'}" class="nav-item nav-link active tab" routerLink="/install">Install</a>
          <div class="rise-block"> </div>
        </li>
        <li class="nav-item">
          <a (click)="preRoute('tutorials')" [ngClass]="{'selected-title': selected==='tutorials'}" class="nav-item nav-link active tab" routerLink="/tutorials/t01_basic_usage">Tutorials</a>
          <div class="rise-block"> </div>
        </li>
        <li class="nav-item">
            <a (click)="preRoute('examples')" [ngClass]="{'selected-title': selected==='examples'}" class="nav-item nav-link active tab" routerLink="/examples/style_transfer/fst_coco">Examples</a>
            <div class="rise-block"> </div>
        </li>
        <li class="nav-item">
            <a (click)="preRoute('api')" [ngClass]="{'selected-title': selected==='api'}" class="nav-item nav-link active tab" routerLink="/api/fe/Estimator">API</a>
            <div class="rise-block"> </div>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link active" href="https://github.com/fastestimator/fastestimator" target="_blank">
              <img src="assets/images/GitHub-Mark-32px.png">
            </a>
        </li>
      </ul>

    <!-- Search form -->
    <form class="form-inline">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    </form>
    </div>
    <!--<button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
      data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>-->
  </nav>