.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.mat-tree-node {
    min-height: 0;
}

.sidebar-api {
    width: 20rem;
}

.selected, .not-selected {
    cursor: pointer;
    padding: 5px;
    font-size: 13px;
    font-family: Roboto, Noto Sans, Noto Sans JP, Noto Sans KR, Noto Naskh Arabic, Noto Sans Thai, Noto Sans Hebrew, Noto Sans Bengali, sans-serif;
    width:100%;
    text-align: left;
}

.not-selected:hover {
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    background: #F1F3F4;
}

.selected {
    background: #E8F0FE;
    border-radius: 10px;
    color: rgb(25, 103, 210);
    font-weight: bold;
}

.hide {
    width: 0;
    height: 0;
}

button { outline: none; }

.content-wrapper {
    margin: 0 1rem;
}

.content {
    border-style: outset;
    border-width: 1px;
    border-radius: 8px 8px;
    padding: 2.5%;
    font-size: 1em;
    max-width: 80rem;
    margin: 25px auto;
}

markdown ::ng-deep h1 {
    font-size: 2.25em;
}

markdown ::ng-deep h2{
    margin-top: 20px;
    font-size: 2em;
}

markdown ::ng-deep h3 {
    margin-top: 20px;
    font-size: 1.5em;
}

markdown ::ng-deep h4 {
    font-size: 1.25em;
}

markdown ::ng-deep h1, markdown ::ng-deep h2, markdown ::ng-deep h3, markdown ::ng-deep h4 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    line-height: 40px;
    font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
}

markdown ::ng-deep table, markdown ::ng-deep th, markdown ::ng-deep td {
  border: 1px solid black;
  padding: 3px;
}