.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.mat-tree-node {
    min-height: 0;
}

.mat-icon-button {
    border-radius: 0px;
}

.sidebar-api {
    width: 20rem;
    padding-top: 10px;
    background: #fff;
}

.item {
    color: rgb(165, 165, 165);
    font-family: HelveticaNeueLT-Bold,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}

.overview {
    color: rgb(97, 97, 97);
    background-color: #fff;
    border-left: 7px #fff solid;
    width: 100%;
    text-align: left;
    margin-left: 0px;
    display: block;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding-left: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-left: 7px #fff solid;
}

.sidebar-api .items li a{
    display: block;
    font-size: 1em;
    line-height: 1.5em;
    padding:6px 18px;
}

.selected, .not-selected {
    color: rgb(97, 97, 97);
    background-color: #fff;
    border-left: 7px #fff solid;
    width: 100%;
    text-align: left;
}

.not-selected:hover, .overview.not-selected:hover {
    background-color: #f3f3f3;
    text-decoration: underline;
    border-color: #f3f3f3;
}

.selected {
    color: #363636;
    border-left: 7px solid #2A7BBA;
    font-weight: bold;
    text-decoration: underline;
    background-color: #f3f3f3;
}

.hide {
    width: 0;
    height: 0;
}

button { outline: none; }

.matContent{
    min-height: calc(100vh - 6rem);
    display:flex;
    flex-direction: column;
}

.content-wrapper {
    margin-left: 1.8rem;
    margin-right: 1rem;
    background-color: white;
    flex: 1 0 auto;
}

.content {
    border-style: outset;
    border-width: 1px;
    border-radius: 8px 8px;
    padding: 2em;
    font-size: 1em;
    max-width: 100%;
    margin: 25px auto;
    background-color: #FAFAFA;
}

.grippy {
    position: fixed;
    left: 20rem;
    width: 11px;
    height: 100%;
    background-repeat: no-repeat;
    border-left: 1px solid #ccc;
    background-position-y: center;
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
    z-index: 5;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    background-color: #FAFAFA;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  /*background-color: #fff;*/
  padding: 10px;
}

.card-container {
    background: white;
    margin: 6px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

mat-sidenav-content {
    background-color: white;
}

markdown ::ng-deep h1 {
    font-size: 2.25rem;
    margin-top: 2rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

markdown ::ng-deep h2{
    font-size: 1.75em;
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

markdown ::ng-deep h3 {
    font-size: 1.5rem;
    margin-top: 2.25rem;
    margin-bottom: 1.25rem;
    font-weight: bold;
}

markdown ::ng-deep h4 {
    font-size: 1.25em;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

markdown ::ng-deep h1, markdown ::ng-deep h2, markdown ::ng-deep h3, markdown ::ng-deep h4 {
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    /* font-weight: 400; */
    font-stretch: normal;
    /* line-height: 40px; */
    font-family: "Google Sans", "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
}

markdown ::ng-deep table, markdown ::ng-deep th, markdown ::ng-deep td {
  border: 1px solid black;
  padding: 3px;
}

markdown ::ng-deep img {
    margin: 1rem 0rem 1rem 0rem;
    max-width: 100%;
}

markdown ::ng-deep .language-python{
    margin: 1.5rem 0rem 1.5rem 0rem;
}

markdown ::ng-deep .language-none{
    background-color: #757575;
    font-style: italic;
    margin: 1.5rem 0rem 1.5rem 0rem;
}


markdown ::ng-deep code{
    font-size:100%;
}

.git-button {
    background-color:#378de5;
    text-decoration: none;
}

<<<<<<< HEAD
=======
markdown ::ng-deep .language-none{
    background-color: #737272;
    font-style: italic;
}
>>>>>>> 2023f1b9789f5fbb31df87cd43115ac27dc3085b
