div:hover{
    color:#555557;
    font-weight:bold;
}

li {
    cursor: pointer;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }