.theme {
    display: block;
    text-align:center;
    position: relative;
}
.showcase {
    width: 100%;
    height:340px;
}

.slogan {
    position: absolute;
    font-size: 2.3em;
    color: rgb(255, 255, 255);
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subhead {
    position: absolute;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}