<div class="content">
  <section>
      <div class="theme">
        <h1 class="slogan">Deep Learning Fast and Easy</h1>
        <p class="subhead">
          The flexible high-level open-source ML framework that will allow you to go wherever you want in the AI world.
          <br/>
          <!-- <a mat-button routerLink="/install">Get started!</a> -->
        </p>
      </div>
  </section>

  <div class="container">
    <p class="section-heading">Why FastEstimator?</p>
    <p class="section-content">FastEstimator provides all the simplicity and flexibility needed to easily build a high-performance deep learning model and run it anywhere.</p>
    <div class="row">
      <div class="col-sm">
        <img src="assets/images/1.png" class="icons">
        <p class="image-heading">Simple...</p>
        <p>Getting started is very easy as FastEstimator is built upon Tensorflow2 and structured around only 3 main APIs. With FastEstimator, you can implement and train high performance models in only a few lines of code!</p>
      </div>
      <div class="col-sm">
          <img src="assets/images/1.png" class="icons">
          <p class="image-heading">Yet flexible!</p>
          <p>FastEstimator provides advanced functionalities and enables complex training schemes such as multi-model training and progressive training. Users can customize any part of the model development.</p>
        </div>
      <div class="col-sm">
        <img src="assets/images/2.png" class="icons">
        <p class="image-heading">Useful AI modules</p>
        <p>FastEstimator offers functions to facilitate the prototyping and production process. For example, the model interpretation module contains visualization tools such as feature UMAP to help users build more robust models.</p>
      </div>
      <div class="col-sm">
        <img src="assets/images/3.png" class="icons">
        <p class="image-heading">Easy to scale</p>
        <p>Distributed training usually requires non-trivial effort. In FastEstimator, all modules are designed to be distribution-friendly: users can scale their training and evaluation across multiple devices without any change of code.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <p class="section-heading">How does FastEstimator work?</p>
    <p class="section-content">In FastEstimator, users only need to interact with three main APIs for any deep learning task. Each one represents one part of the machine learning process.</p>
    <div class="row">
      <div class="col-sm">
        <p class="image-heading">Pipeline</p>
        <img src="assets/images/video1.jpg" class="videos">
        <p>Pipeline takes care of loading and preprocessing data</p>
      </div>
      <div class="col-sm">
        <p class="image-heading">Network</p>
        <img src="assets/images/video3.jpg" class="videos">
        <p>Network compiles all trainable and differentiable model operations and the loss. </p>
      </div>
      <div class="col-sm">
        <p class="image-heading">Estimator</p>
        <img src="assets/images/video2.png" class="videos">
        <p>Finally, Estimator manages the training loop.</p>
      </div>
    </div>
    <div class="container-footer">
      <p>Learn more about the concepts behind FastEstimator</p>
      <a class="myButton" routerLink="/tutorials/t01_basic_usage">Learn</a>
    </div>
  </div>

  <div class="container">
    <p class="section-heading">Our Application hub</p>
    <p class="section-content">FastEstimator does not only provide a model zoo, but end-to-end implementation examples of state-of-the-art models. 
      Every template has step-by-step instructions to ensure you can easily build new AI applications using your own data.

    </p>
    <div class="row">
      <div class="col-sm">
        <img src="assets/images/1.png" class="icons">
        <p class="text">APP1</p>
        <p class="text">lsorh hseirejirj o rofwiej swho ehwofo efow oeufu wo hfowehr ofoweihf hwo hfow owoei fhoefwf   whoerhow  f owoeirie  woreirjeiowruo ow rhoiwer i </p>
      </div>
      <div class="col-sm">
        <img src="assets/images/2.png" class="icons">
        <p class="text">APP2</p>
        <p class="text"> yuog
        </p>
      </div>
      <div class="col-sm">
        <img src="assets/images/3.png" class="icons">
        <p class="text">APP3</p>
        <p class="text">lsorh hseirejirj o rofwiej swho ehwofo efow oeufu wo hfowehr ofoweihf hwo hfow owoei fhoefwf   whoerhow  f owoeirie  woreirjeiowruo ow rhoiwer i</p>
      </div>
    </div>
    <div class="container-footer">
      <p>Any questions? Learn more about FastEstimator or check our GitHub!</p>
      <a class="myButton" routerLink="/install">Get Started!</a>
    </div>
  </div>
</div>