.content {
    min-height: calc(100vh - 6rem);
    display: flex;
    flex-direction: column;
}

.container {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #F0F0F0;
    flex: 1 0 auto;
}

.theme {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    position: relative;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-image: url(../../assets/images/page2.png); */
}

.slogan {
    position: relative;
    text-align: center;
    top: 40%;
    font-size: 2.3em;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
}

.subhead {
    position: relative;
    text-align: center;
    top: 50%;
}

.sub-button{
    font-size: 1.2em;
    background-color: #df6c3f;
    text-decoration: none;
}

.sub-button:hover{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.container-footer {
    padding-top: 1rem;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}
.section-heading {
    color: chocolate;
    font-size: 2.2em;
    margin-top: 2rem;
}

.section-content {
    color: darkslategray;
    font-size: 1.25em;
    margin: 5px 10% 5px 10%;
}

.icons {
    width: 80px;
    height: 80px;
    display:block;
    margin:auto;
}

.videos {
    max-width: 80px;
    max-height: 80px;
    display:block;
    margin:auto;
    margin-bottom: 10px;
}

.grid-content {
    margin-top:2rem;
}

.row .col-sm {
    margin-top: 2rem;
    padding: 0px 30px;
}

.image-heading {
    font-size: 1.5rem;
    color: #2A7BBA;;
}

.image-heading-sm{
    font-size: 1.4rem;
    color: #2A7BBA;;
}


.myButton {
    background-color:#378de5;
    text-decoration: none;
    /* font-size: 1.2em; */
}

.myButton:hover{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.clickable-card:hover{
    cursor:pointer;
}

.community-anchor:hover{
    text-decoration:none;
}

.clickable-card{
    height: 320px;
}




.card-image{
    display: block;
    max-width:250px;
    max-height:100px;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    margin-top:10px;
}

.card-header{
    height: 110px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
}

.card-content{
    margin-top: 15px;
    font-size: 14px;
}

mat-card:hover{
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

/* .why{
    background-color: blanchedalmond;
} */

.what{
    /* background-color: blanchedalmond;
    border-radius: 5px; */
    font-weight: bold;
}

