<section>
    <div class="theme">
            <img src="../../assets/page2.png" alt="showcase" class="showcase">
            <h1 class="slogan">Deep Learning Fast & Easy</h1>
            <p class="subhead">Go wherever you want in the AI world</p>
    </div>
</section>

<div class="why-container">
    <div class="container">
    <p class="why">Why Fastestimator</p>
    <p class="why-exp">Fastestimator is hudhfhiu hduhfoso ishrwp hsfhiehoip sdfho hfs fiewh
         sdfhwo  feoeirfso fwoe foe woeieh weoihwo  ehoewrhwoerowo ieowhri oweri o fisf ehwiefhsiefh
    </p>
    <ul class="why-box">
        <li>
            <img src="../../assets/1.png" alt="icon" class="icons">
            <p>lsorh hseirejirj o rofwiej swho ehwofo efow oeufu wo hfowehr ofoweihf hwo hfow owoei fhoefwf   whoerhow  f owoeirie  woreirjeiowruo ow rhoiwer i </p>
        </li>
        <li>
               <img src="../../assets/2.png" alt="icon" class="icons">
               <p>llsorh hseirejirj o rofwiej swho ehwofo efow oeufu wo hfowehr ofoweihf hwo hfow owoei fhoefwf   whoerhow  f owoeirie  woreirjeiowruo ow rhoiwer i </p>
        </li>
        <li>
               <img src="../../assets/3.png" alt="icon" class="icons">
               <p>lsorh hseirejirj o rofwiej swho ehwofo efow oeufu wo hfowehr ofoweihf hwo hfow owoei fhoefwf   whoerhow  f owoeirie  woreirjeiowruo ow rhoiwer i</p>
        </li>
    </ul>  
   </div>      
</div>

<div class="using-container">
   <div class="container">
   <p class="using">Using Fastestimator</p>
   <p class="using-exp">Fastestimator is hudhfhiu hduhfoso ishrwp hsfhiehoip sdfho hfs</p>
   <ul class="using-box">
       <li>
           <img src="../../assets/video1.jpg" alt="icon" class="videos">
           <p>lsorh hseirejirj o rofwiej </p>
       </li>
       <li>
              <img src="../../assets/video2.png" alt="icon" class="videos">
              <p>lsorh hseirejirj o rofwiej </p>
       </li>
       <li>
              <img src="../../assets/video3.jpg" alt="icon"class="videos">
              <p>lsorh hseirejirj o rofwiej </p>
       </li>
   </ul>
   </div>
</div>