ul {
    list-style: none;
    border-left: 4px solid #5f6368;
    border-color: #ff6f00;
}

a {
    color: #202124;
    text-decoration: none;
    font-size: x-small;
}

a:hover {
    color: #1967d2;
}