<div class="content">
  <div class="container">
    <p class="section-heading">Welcome to the FastEstimator Community</p>
    <p class="section-content">Feel free to ask us any questions, or even contribute your own great ideas. 
    </p>

    <div class="grid-content">
      <div class="row">
        <div class="col-lg">
          <mat-card class="clickable-card" routerLink="/community/slack">
            <div class="card-header">
              <div style="margin:auto">
                <mat-card-title>
                    Slack Channel
                </mat-card-title>
              </div>
            </div>
            <div class="card-content">
              <img src="assets/images/slack.png" class="card-image">
              <mat-card-content>
                A channel for contributors to discuss advanced topics
              </mat-card-content>
            </div>
          </mat-card>
        </div>
        <div class="col-lg">
          <a class="community-anchor" href="https://github.com/fastestimator/fastestimator" target="_blank">
            <mat-card class="clickable-card">
              <div class="card-header">
                <div style="margin:auto">
                  <mat-card-title>
                      Github
                  </mat-card-title>
                </div>
              </div>
              <div class="card-content">
                <img src="assets/images/GitHub-Mark-120px-plus.png" class="card-image">
                <mat-card-content>
                  Source code repository, project board, and bug reports
                </mat-card-content>
              </div>
            </mat-card>
          </a>
        </div>
        <div class="col-lg">
          <mat-card class="clickable-card">
            <div class="card-header">
              <div style="margin:auto">
                <mat-card-title>
                    Discourse Forum
                </mat-card-title>
              </div>
            </div>
            <div class="card-content">
              <img src="assets/images/Discourse-512.png" class="card-image">
              <mat-card-content>
                Comming Soon!
              </mat-card-content>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

