.search_box {
    width: 100%;
    height: 40px;
    padding: 0 0.5em;
    border-radius: 3px;
    background-color: #f5f5f5;
    border-style: none;
}

.search_box:focus{
    outline-style:none;
    background-color: #e8e8e8;
}

.search_box_div{
    padding: 0 2.2em;
}
