<div class="container">
  <div class="content-wrapper">
    <div class="content">
      <h2>Prerequisites</h2>
      <hr/>
      <div class="install-content">
        <div class="python">
          <div class="pip">
            <ul class="bullet">
              <li> Python >= 3.6 </li>
            </ul>
          </div>
        </div>
      </div>
      <h2>Installation:</h2>
      <hr/>
      <div class="install-content">
        <div class="python">
          <div class="pip">
            <h3>1. Install Dependencies</h3>
            <ul class="bullet">
              <li>
                <p> Windows(CPU):</p>
                  <figure class="codeblock">
                    <pre><code data-lang="bash">pip install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html </code></pre>
                  </figure>
              </li>

              <li>
                <p>Linux (CPU/GPU):</p>
                  <figure class="codeblock">
                    <pre><code data-lang="bash">apt-get install libglib2.0-0 libsm6 libxrender1 libxext6 </code></pre>
                  </figure>
              </li>

              <li>
                <p>Mac (CPU):</p>
                  <figure class="codeblock">
                    <pre><code data-lang="bash">echo No dependency needed ":)" </code></pre>
                  </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="install-content">
        <div class="python">
          <div class="pip">
            <h3>2. Install FastEstimator</h3>
            <ul class="bullet">
              <li>
                <p> Stable:</p>
                <figure class="codeblock">
                  <pre><code data-lang="bash">pip install fastestimator==1.0.0 </code></pre>
                </figure>
              </li>

              <li>
                <p>Most Recent:</p>
                <figure class="codeblock">
                  <pre><code data-lang="bash">pip install fastestimator-nightly </code></pre>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <h2>Docker Hub</h2>
      <hr/>
      <div class="install-container">
        <div class="python">
          <div class="pip">
            <p>Docker containers create isolated virtual environments that share resources with a host machine. Docker provides an easy
            way to set up a FastEstimator environment. You can simply pull our image from Docker Hub and get started:</p>
            <ul class="bullet">
              <li>
                <p>GPU:</p>
                <figure class="codeblock">
                  <pre><code data-lang="bash">docker pull fastestimator/fastestimator:1.0.0-gpu </code></pre>
                </figure>
              </li>

              <li>
                <p>CPU:</p>
                <figure class="codeblock">
                  <pre><code data-lang="bash">docker pull fastestimator/fastestimator:1.0.0-cpu </code></pre>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <hr/>
      <div class="install-content">
        <p>All done!!! To learn more about FastEstimator jump over to our <a routerLink="/tutorials/beginner/t01_getting_started">Tutorials</a>... or take a look at some <a routerLink="/examples/overview">Examples</a></p>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
